<div id="Home" class="p-[24px] flex flex-col gap-[24px]">
  <header class="flex flex-col items-center justify-center">
    <span class="h1">LV 0.19.5 Bugs Demo</span>
  </header>

  <.live_component
    id="ItemList-Home"
    module={LvBugs0195Web.Live.Home.ItemListComponent}
  />
</div>
