<div id={@id} class="min-w-[200px] gap-[12px] flex flex items-center px-[24px]">
  <.icon name="hero-photo" class="w-[64px] h-[64px]"/>

  <div
    class="flex-1 flex flex-col gap-[8px]"
    x-data="{ changeBg: false }"
    x-init="changeBg = true;"
  >
    <div class="font-semibold" x-bind:class="changeBg ? 'underline' : ''">
      <%= @item.name %>
    </div>

    <div class="text-[12px] leading-[16px] self-end">
      Quantity: <%= @item.qty %>
    </div>
  </div>
</div>
